<?xml version="1.0"?>
<!-- SAMPLE CONFIGURATION FILE FOR SHAREPOINT SOLUTIONS INSTALLER -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
    <section name="install" type="CodePlex.SharePointInstaller.Configuration.InstallConfiguration, Setup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cb87ba0215b862e1"/>
    <section name="commands" type="CodePlex.SharePointInstaller.Configuration.CommandsConfiguration, Setup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cb87ba0215b862e1"/>
  </configSections>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="Resources\Corridor-Logo2-Installer.png"/>
    <add key="BannerLeft" value="Resources\Corridor-banner1.png"/>
    <!--<add key="BannerLeft" value="Default"/>-->
    
    <!--<add key="BannerImage" value="Resources\Corridor-Header-Installer.png"/>
    <add key="LogoImage" value=""/>-->
    <add key="Vendor" value="[BeachCamp] Installation"/>
    <add key="EULA" value="Resources\EULA.rtf"/>
    <add key="ShowEULAOnlyOneTime" value="true"/>
    <add key="AllowUpgrade" value="true"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all front end web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="ServicesNeedToBeRestarted" value="SPTimerV4"/>
    <add key="InstallationName" value="BeachCamp"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="RequireMoss" value="MOSS"/>
    <add key="Require2010" value="SPS"/>
    <add key="RequiredOfficeVersion" value=""/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>
    <add key="DefaultDeployToAdminWebApplications" value="false"/>
    <add key="DefaultDeployToContentWebApplications" value="false"/>
    <add key="ExecutePowerShellScripts" value="Resources\EnableSessionState.ps1" />
    <add key="ReactivateFeatures" value="true"/>
    
  </appSettings>
  <install>
    <solutions xmlns="http://sharepointinstaller.codeplex.com/config">
      <solution id="09e80497-3297-4e4a-9494-d10b27df9c62">
        <parameters>

          <parameter name="Title" value="SharePoint.BeachCamp"/>
          <parameter name="File" value="WSPS\SharePoint.BeachCamp.wsp"/>
          <parameter name="Version" value="1.0.0.0"/>
          <parameter name="Url" value="http://localhost"/>
          <!--<parameter name="Url" value=""/>-->
          <parameter name="Force" value="false"/>
          <parameter name="InstallOn" value=""/>
        </parameters>

        <features>
		  <feature name="SharePoint.BeachCamp.Site" id="72baf160-34d3-4f69-a6ff-8c12dc0aaf43" scope="Site"/>
		  <feature name="SharePoint.BeachCamp" id="2132c21f-0d50-4624-ad78-7aa9b8879bfe" scope="Web"/>
        </features>
      </solution>
    </solutions>
  </install>
  <!-- This external file is autogenerated from stsadmcommands.ReusableCommands.xml in Stsadm.Commands. It contains command declarations. -->
  <commands configSource="commands.xml"/>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="SharePointInstaller.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %username [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
